<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.CompletionsMapper" >
  <resultMap id="BaseResultMap" type="com.test.entity.Completions" >
    <id column="completion_id" property="completion_id" jdbcType="INTEGER" />
    <result column="completion_content" property="completion_content" jdbcType="VARCHAR" />
    <result column="completion_answer" property="completion_answer" jdbcType="VARCHAR" />
    <result column="completion_difficulty" property="completion_difficulty" jdbcType="DOUBLE" />
    <result column="point" property="point" jdbcType="VARCHAR" />
    <result column="teacher_id" property="teacher_id" jdbcType="VARCHAR" />
    <result column="choice_time" property="choice_time" jdbcType="DATE" />
    <association property="teachers" column="teacher_id"  resultMap="Teacher"/>
  </resultMap>
  <resultMap id="Teacher" type="com.test.entity.Teachers" >
    <id column="teacher_name" property="teacher_name" jdbcType="VARCHAR" />
  </resultMap>  <sql id="Base_Column_List" >
    completion_id, completion_content, completion_answer, completion_difficulty, point, 
    teacher_id, choice_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from completions
    where completion_id = #{completion_id,jdbcType=INTEGER}
  </select>
  <select id="selectByDifficulty" resultMap="BaseResultMap" parameterType="java.lang.Double" >
    select
    <include refid="Base_Column_List" />
    from completions
    where completion_difficulty = #{completion_difficulty,jdbcType=DOUBLE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from completions
    where completion_id = #{completion_id,jdbcType=INTEGER}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    completion_id, completion_content,
      completion_answer,completion_difficulty,point,
      t.teacher_name, choice_time
    from completions com left join teachers t on com.teacher_id=t.teacher_id
    <where>
      <if test="point!=null">
        and point=#{point}
      </if>
    </where>
     LIMIT #{before},#{after}
  </select>
  <select id="count" resultType="int">
        select count(*) from completions com left join teachers t on com.teacher_id=t.teacher_id
    <where>
      <if test="point!=null">
        and point=#{point}
      </if>
    </where>
  </select>
  <select id="selectByPoint" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from completions
    where point in
    <foreach item="item" index="index" collection="_parameter.split('，')"  open="(" separator="," close=")">
      '${item}'
    </foreach>
  </select>
  <insert id="insert" parameterType="com.test.entity.Completions" >
    insert into completions (completion_id, completion_content, 
      completion_answer, completion_difficulty, 
      point, teacher_id, choice_time
      )
    values (#{completion_id,jdbcType=INTEGER}, #{completion_content,jdbcType=VARCHAR}, 
      #{completion_answer,jdbcType=VARCHAR}, #{completion_difficulty,jdbcType=DOUBLE}, 
      #{point,jdbcType=VARCHAR}, #{teacher_id,jdbcType=VARCHAR}, #{choice_time,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.Completions" >
    insert into completions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="completion_id != null" >
        completion_id,
      </if>
      <if test="completion_content != null" >
        completion_content,
      </if>
      <if test="completion_answer != null" >
        completion_answer,
      </if>
      <if test="completion_difficulty != null" >
        completion_difficulty,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="teacher_id != null" >
        teacher_id,
      </if>
      <if test="choice_time != null" >
        choice_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="completion_id != null" >
        #{completion_id,jdbcType=INTEGER},
      </if>
      <if test="completion_content != null" >
        #{completion_content,jdbcType=VARCHAR},
      </if>
      <if test="completion_answer != null" >
        #{completion_answer,jdbcType=VARCHAR},
      </if>
      <if test="completion_difficulty != null" >
        #{completion_difficulty,jdbcType=DOUBLE},
      </if>
      <if test="point != null" >
        #{point,jdbcType=VARCHAR},
      </if>
      <if test="teacher_id != null" >
        #{teacher_id,jdbcType=VARCHAR},
      </if>
      <if test="choice_time != null" >
        #{choice_time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.Completions" >
    update completions
    <set >
      <if test="completion_content != null" >
        completion_content = #{completion_content,jdbcType=VARCHAR},
      </if>
      <if test="completion_answer != null" >
        completion_answer = #{completion_answer,jdbcType=VARCHAR},
      </if>
      <if test="completion_difficulty != null" >
        completion_difficulty = #{completion_difficulty,jdbcType=DOUBLE},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=VARCHAR},
      </if>
      <if test="teacher_id != null" >
        teacher_id = #{teacher_id,jdbcType=VARCHAR},
      </if>
      <if test="choice_time != null" >
        choice_time = #{choice_time,jdbcType=DATE},
      </if>
    </set>
    where completion_id = #{completion_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.Completions" >
    update completions
    set completion_content = #{completion_content,jdbcType=VARCHAR},
      completion_answer = #{completion_answer,jdbcType=VARCHAR},
      completion_difficulty = #{completion_difficulty,jdbcType=DOUBLE},
      point = #{point,jdbcType=VARCHAR},
      teacher_id = #{teacher_id,jdbcType=VARCHAR},
      choice_time = #{choice_time,jdbcType=DATE}
    where completion_id = #{completion_id,jdbcType=INTEGER}
  </update>
</mapper>